.scheduler {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 28px 0 45px 0;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .day {
      padding-bottom: 15px;
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;

      .dTitle {
        font-weight: 700;
      }
    }

    .hoursContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      background: rgb(244, 244, 244);
      height: 295px;
      width: 162px;

      &:hover {
        background: rgb(216, 216, 216);
      }

      .hours {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 160px;
        height: 48px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        color: rgb(225, 27, 182);
        background: rgb(255, 255, 255);
        border: 1px solid rgb(225, 27, 182);
        transition: 0.3s all;
        cursor: pointer;

        &:hover {
          color: white;
          background: rgb(213, 109, 109);

          .deleteBtn {
            display: block;
          }
        }
      }

      .deleteBtn {
        display: none;
        position: absolute;
        top: 8px;
        right: 5px;
      }

      .addTime {
        color: white;
        background: rgb(92, 92, 92);
        border: none;
      }

      .hrsDisabled {
        color: rgb(172, 172, 172);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        border: 1px solid rgb(172, 172, 172);
        background: rgb(255, 255, 255);
        cursor: auto;

        &:hover {
          color: rgb(172, 172, 172);
          background: rgb(255, 255, 255);
        }
      }
    }
  }
}

.scheduler::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scheduler::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 99px;
}

.scheduler::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 99px;
}

.variant {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 160px;
  height: 22px;
  padding-top: 5px;
  text-align: center;
  border-top: 3px solid rgb(255, 0, 199);
  color: rgb(225, 27, 182);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
